.header {
    text-align: center;
}

button {
    cursor: pointer;
}

.lists {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lists > div {
    background-color: lightgray;
    padding: 0 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    width: 100%;
}

.lists .toggle-input-btn {
    display: "block";
    background-color: lightgray;
    padding: 0.5rem 2rem 0.5rem 0.3rem;
    border: none;
    margin-bottom: 1rem;
}

.lists .toggle-input-btn:hover {
    background-color: gray;
    border-radius: 5px;
}

.input-section {
    display: none;
    flex-direction: column;
}

.tasks-list {
    min-height: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dragover {
    background-color: black;
}

.tasks-list > div {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}